logs
project/project
project/target
target
tmp
.history
dist
/.idea
/.cache
/.target
/*.iml
/out
/.idea_modules
/RUNNING_PID
/.settings
/project/*-shim.sbt
/activator
/activator-launch-1.3.2.jar
/activator.bat

/LICENSE
