@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link href="https://dl.dropboxusercontent.com/u/97264231/startbootstrap-simple-sidebar-1.0.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://dl.dropboxusercontent.com/u/97264231/startbootstrap-simple-sidebar-1.0.4/css/simple-sidebar.css" rel="stylesheet">
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type="text/javascript">
    $("document").ready(function() {    	
    	$(".showLogged").css("display","none");
    	
    	if(!@session.isEmpty()){
    		$(".showLogged").css("display","block");
    	}
    })
    </script>
</head>
<body>

<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Projeto TCC
                    </a>
                </li>
                <li>
                    <a id="titleLink" class="brand" href="/">@title</a>
                </li>
                <li>
                	<a class="logOut showLogged" href="/logOut">Sign out</a>
                </li>
				<li>
					<a href="/register">Register</a>
                </li>
                <li>
                	<a href="/signIn">Log In</a>
                </li>
                <li>
                	<a class="showLogged" href="/userpage">Userpage</a>
                </li>
                <li>
                	<a class="showLogged" href=/usersList >Other users</a>
                </li>
                <li>
                	<a href="/addBook">Add a Book</a>
                </li>
                <li>
                	<a href="/booksList">Book Listing</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
						<div class="container">
							@content
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


</body>
</html>
