

@main("Book Page") {
<title>Add a new book.</title>
<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
</head>
<body>
	
	<div class="container">
	<h1>Add a new book.</h1>
		<form action="@routes.Book.addBook()" method="post">
			<div>Title</div>
			<input type="text" name="title"/>
			<div>Author</div>
			<input type="text" name="author"/>
			<div>ISBN</div>
			<input type="text" name="ISBN"/><br/>
			<button class="btn btn-primary">Submit</button>
		</form>
		<a href=@routes.Application.index>Back</a>
	</div>
</body>
}