


<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register User</title>
<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
</head>
<body>
	<div class="container">
		<form action="@routes.User.addUser()" method="post">
			<div>Username</div>
			<input type="text" name="username"/>
			<div>Password</div>
			<input type="password" name="password" />
			<div>Repeat password</div>
			<input type="password" name="repeatPassword" />
			<button class="btn btn-primary">Submit</button>
		</form>
		<a href=@routes.Application.index>Back</a>
	</div>
</body>
</html>