@(message: String)

@main("Trade History") {

    <div class="well">
        <h1>Trade History</h1>
    </div>
    <script type="text/javascript">
		
	</script>
	<form>
		<label>Borrower</label>
		<input type="text" name="receiver"/><br/>
		<label>Book Sent</label>
		<input type="text" name="bookSent"/><br/>
		<label>Book Borrowed</label>
		<input type="text" name="bookReceived"/><br/>
		<label>Date</label>
		<input type="date" name="timeOfTrade"/><br/>
		<button type="button" id="register">Register New Trade</button>
	</form>
	
	<hr>

}
