@(message: String, user:UserModel)

@main(message) {
	<script type="text/javascript" src='@routes.Assets.at("js/user.js")'></script>	
	
	<h1>@user.username</h1>
	<form action="@routes.User.addFollower(user.id)" method="post">
		<button class="btn btn-primary" id="followBtn">Follow</button>
	</form>	
	
	
	<script type="text/javascript">
		var id = @session.get("signedId");
		
		if(@user.id === id){
			$("#followBtn").hide();
		}
		
		
	</script>
	
	<div id=comments>
		<ul class=commentsList></ul>
	</div>
	
	<h3>Post a comment</h3>	
	<form action="@routes.UserComment.postUserComment(user.id.toInt)" method="post">
		<label for="comment" class=required>Your comment</label>
		<br/>
		<textarea rows="2" name="content"></textarea>
		<br/>
		<button class="btn btn-primary">Comment</button>
	</form>
	<a href="@routes.Application.tradeHistory()">My trade history</a><br/>
	<a href="@routes.User.followingList(user.id)">Following</a><br/>
	<a href="@routes.User.bookListing(user.id)">My books</a><br/>
	<a href="@routes.Application.index()">Back</a><br/>
	
	
}