@(message: String, user:UserModel)

@main(message) {
	<script type="text/javascript" src='@routes.Assets.at("js/user.js")'></script>	
	
	<h1>@user.username  Userpage</h1>
	
	<div id=comments>
		<ul class=commentsList></ul>
	</div>
	
	<h3>Post a comment</h3>
	
	
	<form action="@routes.UserComment.postUserComment(user.id.toInt)" method="post">
		<label for="comment" class=required>Your comment</label>
		<br/>
		<textarea rows="2" name="content"></textarea>
		<br/>
		<button class="btn btn-primary">Comment</button>
	</form>
	<a href="@routes.Application.index()">Back</a><br/>
	<a href="@routes.Application.tradeHistory()">My trade history</a>
	
}